#map {
  margin: auto;
  width: 1000px;
  height: 500px;
  margin-top: 60px;
}

.geocoder {
  margin: auto;
  margin-top: 30px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background: lightgray;
}

.markerDiv {
  background-image: url("../media/penrose-triangle.png");
  background-color: #cccccc;
  height: 400px;
  width: 4000px;
}

/* Code below changes things inside Markers' popup. */
/* 
.mapboxgl-popup-content {
  font-size: 250%;
  padding: 25px;
  line-height: 25px;
} */

.markerStyles {
  height: 35px;
  width: 35px;
}